@{
    ViewBag.Title = "Jack Koch";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>
    I am a senior in the COB at Ohio University majoring in MIS and Business Analytics
    who recently completed a summer internship with DHL Supply Chain in Columbus, OH.
    In my spare time, I enjoy playing golf, DJing, and traveling with my family and friends.
</p>
