@{
    ViewBag.Title = "Jack's Contact Info";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    25 Fern. St. <br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    389-927-8457
</address>

<address>
    <strong>Email Me:</strong> <a href="mailto:jk760216@ohio.edu">jk760216@ohio.edu</a><br />
    <strong>Secondary Email:</strong> <a href="mailto:jackkoch2017@gmail.com">jackkoch2017@gmail.com</a>
</address>